/data/LD2011_2014.txt filter=lfs diff=lfs merge=lfs -text
/data/elect/train_data_elect.npy filter=lfs diff=lfs merge=lfs -text
/data/elect/train_label_elect.npy filter=lfs diff=lfs merge=lfs -text
/data/flow/train_data_flow.npy filter=lfs diff=lfs merge=lfs -text
/data/wind/train_data_wind.npy filter=lfs diff=lfs merge=lfs -text
